# Maven build directory
target/

# Keep Maven Wrapper jar file (do not ignore)
!.mvn/wrapper/maven-wrapper.jar

# Ignore target directories inside src but keep source files
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper directory
.mvn/wrapper/

# IDE files

## STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

## VS Code
.vscode/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
